<div class="app-tasks-list-container app-uncompleted-tasks-container">
  <div class="app-toolbar">
    <div class="app-toolbar__title">Задачи</div>
    <div class="app-toolbar__items">
      <button mat-button color="primary" matTooltip="Добавить" (click)="addTask()">
        <span>Добавить</span>
      </button>
    </div>
  </div>
  <app-task-list
    #uncompletedTasksRef
    [tasks]="uncompletedTasks"
    [linkedTaskList]="completedTasksRef"
    (openItem)="open($event)"
    (editItem)="editTask($event)"
    (itemsChanged)="itemsChanged($event)"
  ></app-task-list>
</div>
<div class="app-tasks-list-container app-completed-tasks-container">
  <div class="app-toolbar">
    <div class="app-toolbar__title">Выполненные задачи</div>
  </div>
  <app-task-list
    #completedTasksRef
    [tasks]="completedTasks"
    [linkedTaskList]="uncompletedTasksRef"
    (openItem)="open($event)"
    (editItem)="editTask($event)"
    (itemsChanged)="itemsChanged($event)"
  ></app-task-list>
</div>
